/*reseting default annoying settings*/
*{
    text-decoration: none;
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
}
/*font importation*/
@font-face {
    font-family: 'Titre';
    src: url('/fonts/Rajdhani-Medium.ttf');
}
@font-face {
    font-family: 'Titre H2';
    src: url('/fonts/SpaceGrotesk-Bold.ttf');
}
@font-face {
    font-family: 'Texte';
    src: url('/fonts/SpaceGrotesk-Regular.ttf');
}
h1, ul li{
    font-family: 'Titre';
    font-size: 2.25em;
}
button{
    font-family: 'Titre';
    font-size: 1.25em;
}
h6,h3{
    font-family: 'Titre H2';
    font-size: .9em;
}
p{
    font-family: 'Texte';
    font-size: 1.125em;
}
/*Background*/
body{
    background: black url('/images/Illustrations/Bathome1.png') 80% 20%/cover no-repeat;
    height: 901px;
    font-size: 16px;
}
.lines{
    border: 2px solid rgba(102, 99, 99, 0.233);
    width: 100%;
    top: 80px;
    position: absolute;
}
main{
    z-index: 2;
}
/*barre de navigation*/
nav{
    position: relative;
    padding-top: 20px;
    .nav-logo{
        position: absolute;
        left: 5%;
        img{
            cursor: pointer;
            transition: filter .4s ease-in-out;
            &:hover{
                filter: grayscale(50%) brightness(70%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(1);
            }
        }
    }
    .nav-links{
        position: absolute;
        right: 5%;
        ul li{
            display: inline-block;
            padding: 0 15px;
            a{
                margin: auto;
                position: relative;
                &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: yellow;
                    transform-origin: bottom center;
                    transition: all .5s ease-in-out;
                }
                &:hover{
                    filter: grayscale(50%) brightness(70%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(1);
                    font-weight: 600;
                    &::after{
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}
/**/
.flèche{
    text-align: center;
    margin-bottom: 15%;
    img{
        width: 50px;
        cursor: pointer;
        transition: filter .4s ease-in-out;
        &:hover{
            filter: grayscale(50%) brightness(70%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(1);
        }
    }
}
/**/
#intro{
    height: 901px;
    .parent{
        margin-right: auto;
        margin-left: auto;
        padding-top: 375PX;
        text-align: center;
        width: 50%;
        .intro-text{
        }
    }
}
/**/
.scroll{
    position: fixed;
    z-index: 1;
    top: 35%;
    right: 2%;
    align-items: center;
    transition: .5s all ease-in-out;
    .mediasoc div{
        padding: 5px 0;
    }
    img{
        cursor: pointer;
        transition: filter .4s ease-in-out;
        &:hover{
            filter: grayscale(50%) brightness(70%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(1);
        }
    }
}
    /*responsive part for the scroll*/
    @media screen and (min-width: 850px) and (max-width: 1200px) {
        .scroll{
            .up{
                a img{
                    width: 70px;
                }
            }
        }
    }
    @media screen and (max-width: 850px) {
        .scroll{
            right: -2%;
            .up{
                transform: rotate(-90deg);
                margin: 25% 0;
                a img{
                    width: 80px;
                }
            }
            .down{
                transform: rotate(90deg);
            }
        }
    }
/**/
button{
    background: linear-gradient(to right, #EDDEBF, #890008);
    border: none;
    padding: 1% 2%;
    margin: 10px 2%;
    opacity: .4;
    transition: .4s all ease-in-out;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}
.button{
    text-align: center;
}
.btn2{
    background: none;
    border: 2px solid;
    border-image: linear-gradient(to right, #EDDEBF, #19587D) 1;   
}
/**/
@media screen and (max-width: 850px) {
    button{
        padding: 2% 3%;
    }
}
/**/
.titles-stuff{
    margin: 0 12%;
    padding-top: 10%;
    text-align: justify;
}
.thebats{
    margin: 35px 12%;
    display: flex;
    gap: 5%;
    text-align: center;
    h6{
        padding-top: 10px;
    }
    img{
        width: 90%;
        transition: .5s transform ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
    }
}
/**/
@media screen and (max-width: 850px) {
    .titles-stuff{
        margin: 0 16% 0 12%;
    }
    .thebats{
        margin: 35px 16% 35px 12%;
    }
}
/**/
.vigilent{
    position: relative;
    height: 30vh;
    .random{
        position: absolute;
        right: 0;
        img{
            height: 40vh;
        }
    }
}
.bata{
    position: relative;
    .batarang{
        position: absolute;
        top: -60px;
        left: 65px;
        img{
            width: 100px;
        }
    }
}
/**/
@media screen and (max-width: 850px) {
    .vigilent{
        .random{
            img{
                height: 30vh;
            }
        }
    }
}
/**/
#justiceleague{
    .jlt{
        margin: 0 15% 10% 15%;
    }
    .jl{
        margin: 0;
        img{
            width: 100%;
        }
    }
}
/**/
.media{
    display: flex;
    align-items: center;
    margin: 5% 0;
    .synopsis{
        height: 230px;
        display: flex;
        overflow: hidden;
    }
    .arrow{
        margin: 0 10px;
    }
}
/**/
.video{
    text-align: center;
    img{
        width: 80%;
        transition: all .25s ease-in-out;
        &:hover{
            filter: drop-shadow(0 0 10px white);
        }
    }
}
/**/
form{
    background: linear-gradient(to bottom right, #4e4940, #091e2a);
    padding: 5% 10%;
    margin: 15% 0;
    line-height: 30px;
    input, select{
        background: none;
        border-top: none;
        border-left: none;
        border-right: none;
        width: 100%;
        &:focus{
            outline: none;
        }
    }
}
.one, .two, .three, .four{
    margin: 15px 0;
}
/**/
#quotes{
    margin: 25% 10%;
    img{
        width: 10vh;
    }
    .leftg{
        text-align: left;
    }
    .quotes{
        text-align: center;
        margin: 5% 0;
    }
    .rightd{
        text-align: right;
    }
    .point{
        display: flex;
        justify-content: center;
        .dot{
            margin: 5px 2px;
            width: 10px;
            height: 10px;
            border-radius: 15px;
            border: 1px solid #429ef5;;
        }
    }
}
/**/
footer{
    .copyright{
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 10%;
        img{
            width: 30px;
            height: 30px;
            cursor: pointer;
            transition: filter .25s ease-in-out;
            &:hover{
                filter: grayscale(50%) brightness(70%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(1);
            }
        }
    }
    .credit{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10%;
        gap: 2%;
        img{
            cursor: pointer;
            transition: filter .25s ease-in-out;
            &:hover{
                filter: grayscale(50%) brightness(70%) sepia(100%) hue-rotate(5deg) saturate(500%) contrast(1);
            }
        }
    }
}
/**/